@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.grid-container {
  max-width: 1497px;
}

.section-title {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

.section-subtitle {
  color: #f41353;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a, a::after, button, button::after {
  transition: all 0.5s ease;
}

header {
  position: relative;
}
header .slide_item {
  height: 100vh;
  background-size: cover;
  background-position: center;
  max-height: 784px;
}
header .slick-initialized .slick-slide {
  display: flex;
  align-items: flex-end;
}
header .header-title {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 144px;
}
header .header-image {
  position: absolute;
  left: 50%;
  top: 88px;
  transform: translateX(-50%);
  z-index: 9;
}
header .slider-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 45px;
  display: flex;
  justify-content: space-between;
}
header .slider-nav .slick-arrow {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  font-weight: 400;
}
header .header-nav {
  background-color: #000;
  color: #fff;
  padding: 25px 0 27px;
  position: relative;
}
header .header-nav .grid-container {
  max-width: 1497px;
}
header .header-logo {
  max-width: 202px;
  max-height: 62px;
}
header .header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 413px;
}
header .header-menu a {
  color: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
header .header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  width: 0%;
  height: 4px;
  background-color: #f41353;
}
header .header-menu a:hover {
  color: #f41353;
}
header .header-menu a:hover::after {
  width: 100%;
}

.slicknav_menu {
  display: none;
  background-color: #000;
}
.slicknav_menu .slicknav_btn {
  background-color: #000;
}
.slicknav_menu .slicknav_icon-bar {
  width: 30px;
  height: 3px;
}
.slicknav_nav {
  text-align: right;
}
.slicknav_nav a {
  padding: 5px 0;
}

.post {
  padding: 102px 0;
  font-family: "Lato", sans-serif;
  color: #fff;
}
.post-title {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
  max-width: 830px;
}
.post-subtitle {
  font-size: 18px;
  line-height: 29px;
  color: #f41353;
  margin-bottom: 62px;
}
.post-content {
  font-size: 14px;
  line-height: 24px;
}
.post-image {
  float: left;
  margin: 0 33px 40px 0;
}
.post-sign {
  float: right;
  margin-top: 30px;
}

.cta {
  padding: 89px 0 102px;
  text-align: center;
}
.cta-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 300;
  line-height: 74px;
  text-transform: uppercase;
  max-width: 735px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
.cta-btn {
  padding: 9px 25px 10px 40px;
  background-color: #f41353;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  top: 33px;
  position: relative;
}
.cta-btn::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -50px;
  top: 0;
  border: 20px solid transparent;
  border-left: 30px solid #f41353;
}
.cta-btn:hover {
  background-color: #f9749a;
  color: #fff;
}
.cta-btn:hover::after {
  border-left-color: #f9749a;
}

.price-list {
  padding: 84px 0 111px;
  color: #fff;
}
.price-list__title {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.price-list__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #f41353;
  text-align: center;
}
.price-list .table-container {
  overflow: auto;
}
.price-list__table {
  max-width: 848px;
  margin: 0 auto 67px;
  border-spacing: 48px 0;
  border-collapse: separate;
}
.price-list__table tbody, .price-list__table tbody tr:nth-child(even) {
  background-color: transparent;
  border: none;
}
.price-list__table .th {
  background-color: #f41353;
}
.price-list__table .row-value {
  text-align: center;
}
.price-list__table .row-title {
  color: #f41353;
}
.price-list__table-title {
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  line-height: 50.53px;
}
.price-list__content {
  max-width: 756px;
  margin: 0 auto;
}

.gallery-title {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background-color: #f41353;
  text-align: center;
  padding: 2.16em 0;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.gallery .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.gallery .photos img {
  width: 100%;
  height: 100%;
}

.contact-form {
  padding: 100px 0;
}
.contact-form .grid-container {
  max-width: 998px;
}
.contact-form .wpcf7 form input[type=text], .contact-form .wpcf7 form textarea, .contact-form .wpcf7 form input[type=email] {
  font-size: 14px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  border: 1px solid #eeeeee;
}
.contact-form .wpcf7 form textarea {
  height: 110px;
}
.contact-form .wpcf7 form .submit-button {
  float: right;
  margin-right: 25px;
  outline: none;
  border: none;
  padding: 0 30px 0 20px;
  height: 34px;
  background-color: #f41353;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}
.contact-form .wpcf7 form .submit-button::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -42px;
  top: 0;
  border: 17px solid transparent;
  border-left: 25px solid #f41353;
}
.contact-form .wpcf7 form .submit-button:hover {
  background-color: #f9749a;
}
.contact-form .wpcf7 form .submit-button:hover::after {
  border-left-color: #f9749a;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}
.footer .logo {
  max-width: 202px;
  max-height: 91px;
}
.footer .copyright {
  font-size: 13px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.footer .copyright .underlined {
  color: #f41353;
  position: relative;
}
.footer .copyright .underlined::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f41353;
  height: 4px;
  width: 100%;
}
.footer .copyright .underlined:hover {
  color: #f9749a;
}
.footer .copyright .underlined:hover::after {
  background-color: #f9749a;
}

@media (max-width: 800px) {
  .slicknav_menu {
    display: block;
  }

  .menu-main-menu-container {
    display: none;
  }

  .section-title {
    font-size: 30px;
  }

  .cta-title {
    font-size: 40px;
  }

  .post-image {
    float: none;
  }

  #submit {
    margin-right: 34px;
  }
}
@media (max-width: 462px) {
  .small-align-center {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
